<main>
    <div class="registration-container">
        <h2>Registration</h2>
        <form [formGroup]="registerForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" formControlName="email">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" formControlName="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" formControlName="password">
            </div>
            <div class="form-group">
                <label for="passwordRetype">Retype Password</label>
                <input type="password" id="passwordRetype" name="passwordRetype" formControlName="passwordRetype">
            </div>
            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" id="firstname" name="firstname" formControlName="firstname">
            </div>
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" id="surname" name="surname" formControlName="surname">
            </div>
            <button type="submit" (click)="register()">Submit</button>
        </form>
    </div>
</main>